{# templates/default/index.html.twig #}

{% extends 'base.connected.html.twig' %}
 
{% block body %}

<div class="well">Bienvenue {{ app.user.userName }}. Slam-Booking le 19 novembre 2018 à 18h49</div>

{% endblock %}
