{# templates/default/index.html.twig #}

{% extends 'base.connected.html.twig' %}
 
{% block body %}

<div class="well">Bienvenue {{ app.user.userName }}. Slam-Booking le 6 décembre 2018 à 18h23</div>

{% endblock %}
