{# templates/admin/index.html.twig #}

{% extends 'base.html.twig' %}
 
{% block body %}

<div class="w3-panel w3-border-bottom w3-text-indigo"><h4>
	Bienvenue {{ app.user.userName }}
</h4></div>

<div>Cette page est réservée aux utilisateurs ayant le role ROLE_ADMIN d'après le fichier security.yaml</div>

{% endblock %}
