{# templates/booking/booking.html.twig #}

{% set rtIcons = constant('App\\Entity\\Constants::RESOURCE_TYPE_ICON') %}
{% set rcIcons = constant('App\\Entity\\Constants::RESOURCE_CLASSIFICATION_ICON') %}

{% extends 'base.connected.html.twig' %}
 
{% block body %}

{% block form_start %}{% endblock %}

<legend>

{% if resource.internal %}
<img src="{{ asset('images/' ~ rcIcons[resource.code] ~ '-32.png') }}">
{% else %}
<img src="{{ asset('images/' ~ rtIcons[resource.type] ~ '-32.png') }}">
{% endif %}
{{ resource.name }}

</legend>

{% block booking_details %}{% endblock %}

<div class="btn-group sb-margin-top" style="float: left">
	{% block booking_buttons %}{% endblock %}
</div>

{% block form_end %}{% endblock %}

{% block modal %}{% endblock %}

{% endblock %}
