{# templates/booking/duplicate.many.html.twig #}

{% extends 'booking/duplicate.html.twig' %}

{% block booking_buttons %}
<a href="{{ path('planning_many', { 'planificationID': planification.ID, 'date': planningDate|date('Ymd') }) }}" class="btn btn-default"><i class="glyphicon glyphicon-chevron-left"></i> {{ 'planning.back'|trans }}</a>
{% endblock %}
