{# templates/booking/duplicate.html.twig #}

{% extends 'booking/booking.html.twig' %}

{% block booking_details %}

<div class="col-sm-6">

{% for j in 1..planningContext.numberColumns %}
{% for i in 1..planningContext.numberLines %}
{{ include('planning/day.html.twig', { 'day_key': ('1-' ~ i ~ '-' ~ j) }) }}
{% endfor %}
{% endfor %}

</div>

<div class="col-sm-6">

{% for j in 1..planningContext.numberColumns %}
{% for i in 1..planningContext.numberLines %}
{{ include('planning/day.html.twig', { 'day_key': ('2-' ~ i ~ '-' ~ j) }) }}
{% endfor %}
{% endfor %}

</div>

{% endblock %}
