{# templates/emails/login.and.password.sent.html.twig #}

<h3>Envoi du nom d'utilisateur et du mot de passe</h3>

<p>Votre nom d'utilisateur est {{ user.userName }} et votre mot de passe est {{ password }}.</p>

<p>Cliquez sur ce lien pour vous connecter à <a href="{{ url('user_login') }}">Slam-Booking</a>.</p>
