{# templates/emails/login.and.password.sent.html.twig #}

<h3>You did it! You registered!</h3>

Hi {{ name }}! You're successfully registered.

{# example, assuming you have a route named "login" #}
To login, go to: <a href="{{ url('user_login') }}">...</a>.

Thanks!
