.sb-message {
    margin-top: 10px;
}

/* Listes */

.sb-list-header {
    margin-bottom: 10px;
}

.sb-page {
    color: #286090;
}

.sb-current-page {
    color: white;
    background-color: #286090;
}

/* Blocs (debug) */

.sb-border-red {
    border-style: solid;
    border-color: red;
}

.sb-border-blue {
    border-style: solid;
    border-color: blue;
}

.sb-border-green {
    border-style: solid;
    border-color: green;
}
