<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link href="{{ asset('styles/sb.css') }}" rel="stylesheet" />
    </head>
    <body><div class="container">
		{% block navbar %}{% endblock %}
		{% block body %}{% endblock %}
		{% block message %}{% endblock %}
		<script>{% block javascripts %}{% endblock %}</script>
	</div></body>
</html>
