<!DOCTYPE html>
<html>
<title>Slam Booking</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<body>
<div class="w3-container">

{% block navbar %}{% endblock %}

<div class="w3-container w3-margin-top w3-blue-grey">
	<h4>{% block title %}{% endblock %}</h4>
</div>

<div class="w3-row">

<div class="w3-quarter w3-container"></div>

<div class="w3-half w3-container">
	{% block body %}{% endblock %}
</div>

<div class="w3-quarter w3-container"></div>

</div>

{% for flash_message in app.session.flashBag.get('notice') %}
<div class="w3-panel w3-khaki w3-round-large">
	<span onclick="this.parentElement.style.display='none'" class="w3-button w3-large w3-right">x</span>
	<p>{{ flash_message|trans }}</p>
</div>
{% endfor %}

{% block javascripts %}{% endblock %}

</div> 
</body>
</html> 
