{% extends 'base.html.twig' %}

{% block body %}

<div class="w3-container w3-margin-top w3-blue-grey">
	<h4>{% block title %}{% endblock %}</h4>
</div>

{% block content %}{% endblock %}

{% endblock %}
