{# templates/query_booking/index.html.twig #}

{% extends 'list.html.twig' %}

{% set create_path, list_path, display_create_path = 'query_booking_add', 'query_booking', true %}

{% block list %}

<div class="row">

{% for i in 0..listContext.numberColumnsDisplayed-1 if listContext.numberColumnsDisplayed > 0 %}
    <div class="col-sm-{{ (12/listContext.numberColumnsDisplayed) }}">
{% for j in 0..listContext.numberLinesDisplayed-1 if (i*listContext.numberLinesDisplayed+j) < listContext.numberRecordsDisplayed %}
	<a href="{{ path('query_booking_edit', { 'queryBookingID': listQueryBooking[i*listContext.numberLinesDisplayed+j].ID }) }}" class="list-group-item"><img src="{{ asset('images/dashboard-32.png') }}">&nbsp;{{ listQueryBooking[i*listContext.numberLinesDisplayed+j].name }}</a>
{% endfor %}
    </div>
{% endfor %}

</div>

{% endblock %}
