<legend><img src="{{ asset('images/file-32.png') }}"></img>&nbsp;{{ 'file.plural'|trans }}</legend>

<h3>Créer un dossier</h3>

<p>Choisir un nom de dossier</p>

<img src="{{ asset('images/help-FILE-01-create.png') }}"></img>
